@import '../../style.less';

.cookCode-feature-pannel {
	background-color: #fff;
	height: calc(100vh - @header-height);
	overflow: hidden;
	overflow-y: scroll;
	width: @feature-pannel-width;
	border-top: 1px solid #eee;
}
