@import '../../style.less';

.cookCode-container {
	height: calc(100vh - @header-height);
	flex: 1;
	box-sizing: border-box;
	padding: 2px;
	user-select: none;
	position: relative;

	&-main {
		height: 100%;
		background-color: #f0f0f0;
		position: relative;
		overflow-y: scroll;
	}
	
	&-phone {
		background-color: #fff;
		position: relative;
		z-index: @canvas-zIndex;
		padding: 1px;
		z-index: 9;
		border-radius: 4px;
		margin-top: 40px;
		margin-left: -14%;
		position: absolute;
	}

	&-button-groups {
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 50px;
		bottom: 50px;
		justify-content: flex-end;
		z-index: 99;

		.button-item {
			border-radius: 2px;
			width: 26px;
			height: 26px;
			border: 1px solid @primary-color;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			svg path {
				fill: @primary-color;
			}
		}
	}
}
