@import '../../style.less';

.cookCode-menu-left {
	background-color: #fff;
	height: calc(100vh - @header-height);
	overflow: hidden;
	overflow-y: scroll;
	width: @menu-right-width;
	border-top: 1px solid #eee;

	&-compbox {
		padding-top: 20px;
		padding-right: 24px;
	}

	&-common-component {
		border: 1px solid @primary-color;
		text-align: center;
		line-height: 30px;
		margin-bottom: 20px;
		font-weight: 500;
		user-select: none;
	}

	.ant-tabs {
		height: 100%;
	}

	.ant-tabs-nav .ant-tabs-tab {
		padding: 8px 16px !important;
	}

	.ant-tabs-tab-btn {
		color: @primary-color !important;
	}

	.ant-tabs-ink-bar {
		background-color: @primary-color !important;
	}

	.ant-tabs-tab {
		border-bottom: 1px dashed #f0f0f0;
	}
}
