@import '../../style.less';

.cookCode-menu-left {
	background-color: #fff;
	height: calc(100vh - @header-height);
	overflow: hidden;
	overflow-y: scroll;
	width: @menu-right-width;
	border-top: 1px solid #eee;
}
