@import '../../style.less';

.cookCode-header {
	background-color: #fff;
	height: @header-height;
	display: flex;
	align-items: center;

	&-title {
		font-size: 24px;
		color: @primary-color;
		font-weight: 600;
		padding-left: 20px;
		width: @menu-right-width;
		box-sizing: border-box;
		border-right: 1px solid #eee;
	}
}
